.satori-deployments-jenkins-button {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.satori-deployments-jenkins-button-container {
	text-align:center;
	margin:0 auto;
    width:50%;
    height:50px;
    padding:10px;
}
.satori-deployments-jenkins-push-button {
    width:50%;
    height:50px;
    float:left;
}
.satori-deployments-jenkins-table input {
    width:100%;
}
.satori-deployments-jenkins-activity-log-container h3 {
    font-size:18px;
}
.satori-deployments-jenkins-scrollabletextbox {
    background-color: #fff;
    height:200px;
    width:40%;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
}
.satori-deployments-jenkins-scrollabletextbox li {
    font-weight:bold;
}

.satori-deployments-jenkins-box {
    margin-left:5%;
    height:50px;
}

.satori-deployments-jenkins-box select {
  background: #16a085 !important;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 16px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius:0;
  height:47px;
  line-height:1 !important;
}
.satori-deployments-jenkins-box select:hover, .satori-deployments-jenkins-box select:active, .satori-deployments-jenkins-box select:focus, .satori-deployments-jenkins-box select:visited {
    color: #fff !important;
}

.satori-deployments-jenkins-box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.satori-deployments-jenkins-box select option {
  padding: 30px;
}